<%- include('./partials/head.ejs')%> 

<body>
    
    <%- include("./partials/header.ejs")  %>

    <nav class="menu">
        <ul>
            <li class="submenu"><a class="play" href="/pacman/play">PLAY</a></li>
            <li class="submenu"><a class="scores" href="/pacman/score">SCORES</a></li>
            <li class="submenu"><a class="exit" href="/pacman/exit">EXIT</a></li>
        </ul>

    <script src="/scripts/pacman.js"></script>
    <script src="/scripts/buttons.js"></script>
</body>
</html>