<%- include('./partials/head.ejs')%> 

<body>
    
    <%- include("./partials/header.ejs")  %>

    <h1>SCORES</h1>

    <nav class="menu">
        <ul>
            <li class="submenu">asd</li>
            <li class="submenu">asd</li>
            <li class="submenu">asd</li>
        </ul>

    <script src="/scripts/pacman.js"></script>
    <script src="/scripts/buttons.js"></script>
</body>
</html>