<header id="header">
    <section class="logo">
        <img src="/images/pacman.jpg" alt="pacmanLogo">
    </section>

    <section class="pacman">
        <img src="/images/pacman.png" alt="pacmanWord">
    </section>
</header>