<header id="header">
    <section class="logo">
        <img src="/images/pacman.jpg" alt="">
    </section>

    <section class="pacman">
        <img src="/images/pacman.png" alt="">
    </section>
</header>